body {
  font-family: 'Roboto', sans-serif;
}

.node {
  cursor: pointer;
}

.node circle {
  fill: #fff;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.node text {
  font: 10px sans-serif;
}

#info-box {
  height: 250px;
  width: 100%;
}

#node_image {
  padding-top:40px;
  padding-bottom:20px;
  width: 100%;
}

#button_controls {
  padding: 20px;
}

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 1.5px;
}

.container {
  width: 1400px;
  margin-top: 25px;
}

.glyphicon {
  padding-right:5px;
}

.float-right {
  float: right
}

.float-left {
  float: left;
}

.footer {
  float: right;
  margin-bottom:20px;
  margin-left:5px;
}

/* View Images Modal */
.modal-header {
  height:100px;
}
